.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #9053c7;
    font-family: "Sofia", sans-serif;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }
  


  .list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 1px;
    flex-wrap: wrap;
    width: 80vw;
   
  }
  
  .listItem {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
    border: 20px solid #FA8072;
    font-size: 1.4rem;
    text-align: center;
  }
  
  .byttonupdate{
    background-color: #BF0A30;
    border-radius: 10%;
    border: none;
    color:#FFE5B4;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .box{
    background-color: white;
    }
  